
@specific-blue: #0275d8;
@white-color: #ffffff;


.create-bar-component {
    display: block;
    background-color: @specific-blue;
    color: white;
    &:hover {
        background-color: darken(#0275d8, 20%);
    }
}
